/*IMAGEN DE FONDO*/
.light-mode {
	margin: 0;
	background: url(../img/fondoAll.avif) fixed; 
	background-size: cover;
}

/*IMAGEN MODO OSCURO*/
.dark-mode {
	background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(../img/fondoAll.avif) no-repeat;
	margin: 0;
	color: white;
}

/*COLOR DE FONDO AZUL GRADIENT*/
.bg-jj {
	background: linear-gradient(to top, #000B4B, #1328A4, #5BADFA);
}

/*COLOR AZUL CLARO*/
.blue-light-jj {
	background-color: #5BADFA; 
}

/*COLOR AZUL OSCURO*/
.blue-dark-jj {
	background-color: #0B1C83;
}

/*HEADER DEL TITULO PRINCIPAL*/
#headerTitulo {
	background: linear-gradient(to right, #000B4B, #1328A4, #5BADFA);
	color: #fff;
	margin-top: 0px;
	position: fixed;
	width: 100%;
	z-index: 5;
}

#headerTitulo:after {
	content: "";
	width: 0px;
	height: 100%;
	position: absolute;
	bottom: 0%;
	background: linear-gradient(to left, #000B4B, #1328A4, #5BADFA);
	transition: all 0.4s linear 0s;
}

#headerTitulo:hover::after {
	width: 100%;
	content: "";
}

#h1Titulo {
    position: relative;
    z-index: 1;
	margin-right: 50px;
	width: 85%;
	padding: 25px;
	padding-left: 90px;
}

#imgTitulo {
	position: absolute;
	top: 8px;
	right: 115px;
	z-index: 1;
}

/*ESPACIOS HACIA ABAJO*/
.spaceDown {
	margin-top: 80px;
}

/*MARGEN GENERAL*/
.spaceMargin {
	margin: 40px 20px 0px 20px;
}

/*CONTENIDO DE LA PAGINA RESPONSIVE*/
@media only screen and (max-width: 1325px){
	#responsive{
		margin-top: 125px;
	}
}

/*COLOR DE FONDO PARA LOS INPUTS DE SOLO LECTURA*/
.input-readonly {
	background-color: #e9ecef;
}

/*ATAJOS*/
.upper-section{
	display: flex;
	flex-direction: row;
}

.images{
	height: 80px;
	width: 80px;
	margin: 25px;
}

.wrapit{
	border-radius: 5px;
	width: 245px;
	height: 170px;
	box-shadow: 4px 8px 8px;
}

.upper-section{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.each-name{
	font-size: 12px;
	margin-right: 15px;
	color: white;
	align-self: flex-end;
	font-weight: bold;
}

.lower-section{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: white;
	border-radius: 4px;
	height: 38.5px;
	width: 241.5px;
	padding-top: 5px;
	padding-left: 20px;
	margin: 0px 1.5px 1.5px 1.5px;
}

.arrow-shortcut{
	height: 26px;
	width: 26px;
	margin-right: 15px;
	margin-top: 4px;
}

/*DIV FORMULARIO PEQUEÑO DE REGISTRO*/
.formRegistroSm {
	max-height: 260px;
}

.formRegistroSm:hover {
	filter: drop-shadow(6px 6px 8px black);
}

/*DIV FORMULARIO MEDIANO DE REGISTRO*/
.formRegistroMd {
	max-height: 320px;
}

.formRegistroMd:hover {
	filter: drop-shadow(6px 6px 8px black);
}

/*BARRA DE ESTADO DEL FORMULARIO DE REGISTRO DE PERSONAL*/
/* Make circles that indicate the steps of the form: */
.step {
	height: 40px;
	width: 40px;
	margin: 0 2px;
	background-color: #bbbbbb;
	border: none;
	border-radius: 50%;
	display: inline-block;
	opacity: 0.5;
	padding: 2.5px;
}

/* Mark the active step: */
.step.active {
	background-color: #0d6efd;
	opacity: 2;
}

#step1, #step2, #step3, #step4, #step5 {
	color: white;
	font-size: 20px;
}

#step1EB, #step2EB, #step3EB {
	color: white;
	font-size: 20px;
}

/*ESTILOS PARA LA PÁGINA DE GRADOS Y SECCIONES*/
#btnGrados, #btnSecciones {
	cursor: pointer;
}

.subActivo {
	text-decoration: underline;
}

/*BOTON DE SELECCIÓN DEL TEMA*/
.bi {
	vertical-align: -.125em;
	fill: currentColor;
}

.btn-bd-primary {
	--bd-violet-bg: #712cf9;
	--bd-violet-rgb: 112.520718, 44.062154, 249.437846;

	--bs-btn-font-weight: 600;
	--bs-btn-color: var(--bs-white);
	--bs-btn-bg: var(--bd-violet-bg);
	--bs-btn-border-color: var(--bd-violet-bg);
	--bs-btn-hover-color: var(--bs-white);
	--bs-btn-hover-bg: #6528e0;
	--bs-btn-hover-border-color: #6528e0;
	--bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
	--bs-btn-active-color: var(--bs-btn-hover-color);
	--bs-btn-active-bg: #5a23c8;
	--bs-btn-active-border-color: #5a23c8;
}
.bd-mode-toggle {
	z-index: 1500;
}

/*DATATABLES*/
.btnes {
	margin-bottom: -40px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	margin-top: -60px;
}

/*MOSTRAR Y OCULTAR ELEMENTOS*/
.mostrar {
	display: block;
}

.ocultar {
	display: none;
}

/*ESTILOS PARA EL CONTACTO A SOPORTE TÉCNICO*/
/* Style the tab */
.tab {
	float: left;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	width: 20%;
	height: 300px;
}

/* Style the buttons that are used to open the tab content */
.tab span {
	display: block;
	background-color: inherit;
	color: black;
	padding: 22px 16px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab span:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
.tab span.active {
	background-color: #ccc;
}

.miniatura {
	border-radius: 10px;
	position: relative;
}

.miniatura:hover {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}

@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}

@keyframes shine {
	100% {
		left: 125%;
	}
}

/* Style the tab content */
.tabcontent {
	position: fixed;
	display: none;
	border: 5px outset #cccccc;
	background-color: #435ccc;
	color: white;
	padding: 0px 12px;
	width: 66%;
	border-left: none;
	margin-left: 16.5%;
	
}

/* Make the content arrange horizontally */
.innercontainer {
	display: flex;
	flex-direction: row;
}

/* The pictures */
.desimg {
	margin-right: 3%;
}

/* The text and description */
.desdescription {
	margin-top: 3%;
}

/* Style the close button */
.topright {
	float: right;
	cursor: pointer;
	font-size: 28px;
}

.topright:hover {color: red;}

/* Popup container */
.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
	visibility: hidden;
	width: 460px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 20%;
	margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
}